*{
    box-sizing: border-box;
}
body{
    margin: 0px;

}
.header{
    display: flex;
    font-size: large;
    font-weight: bold;
    background-color: rgb(229, 229, 229);
    color: blue;
    height: 10vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.disco-grid-container{

    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.box{
    border: 1px solid black;
    height: 4rem;
    width: 4rem;
    color: black;
}